<div class="follow-me">
  {% if site.github %}
  <a title="{{ site.github }} on Github" href="https://github.com/{{ site.github }}">
    <i class="fa fa-github-square fa-3x"></i>
  </a>
  {% endif %}

  {% if site.bitbucket %}
  <a title="{{ site.bitbucket }} on Bitbucket" href="https://bitbucket.com/{{ site.bitbucket }}/">
    <i class="fa fa-bitbucket-square fa-3x"></i>
  </a>
  {% endif %}

  {% if site.hacker_news %}
  <a title="{{ site.hacker_news }} on Hacker News" href="https://news.ycombinator.com/user?id={{site.hacker_news }}">
     <i class="fa fa-hacker-news fa-3x"></i>
  </a>
  {% endif %}

  {% if site.stackexchange %}
  <a title="{{ site.data.theme.name }} on Stack Exchange" href="https://stackexchange.com/users/{{site.stackexchange }}">
    <i class="fa fa-stack-exchange fa-3x"></i>
  </a>
  {% endif %}

  {% if site.stackoverflow %}
  <a title="{{ site.data.theme.name }} on Stack Overflow" href="http://stackoverflow.com/users/{{site.stackoverflow }}">
    <i class="fa fa-stack-overflow fa-3x"></i>
  </a>
  {% endif %}

  {% if site.twitter %}
  <a title="{{ site.twitter }} on Twitter" href="https://twitter.com/{{ site.twitter }}">
    <i class="fa fa-twitter-square fa-3x"></i>
  </a>
  {% endif %}

  {% if site.facebook %}
  <a title="{{ site.data.theme.name }} on Facebook" href="https://facebook.com/{{ site.facebook }}">
    <i class="fa fa-facebook-square fa-3x"></i>
  </a>
  {% endif %}

  {% if site.tumblr %}
  <a title="{{ site.data.theme.name }} on tumblr" href="https://{{ site.tumblr }}.tumblr.com">
    <i class="fa fa-tumblr-square fa-3x"></i>
  </a>
  {% endif %}

  {% if site.linkedin %}
  <a title="{{ site.data.theme.name }} on LinkedIn" href="https://www.linkedin.com/in/{{ site.linkedin }}">
    <i class="fa fa-linkedin-square fa-3x"></i>
  </a>
  {% endif %}

  {% if site.gplus %}
  <a title="{{ site.data.theme.name }} on Google Plus" href="https://plus.google.com/{{ site.gplus }}">
    <i class="fa fa-google-plus-square fa-3x"></i>
  </a>
  {% endif %}

  {% if site.flickr %}
  <a title="{{ site.data.theme.name }} on Flickr" href="https://www.flickr.com/photos/{{ site.flickr }}">
    <i class="fa fa-flickr fa-3x"></i>
  </a>
  {% endif %}

  {% if site.show_atom_feed %}
  <a title="Atom feed" id="atom" href="/atom.xml">
    <i class="fa fa-rss-square fa-3x"></i>
  </a>
  {% endif %}
</div>
