---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;

@import
    "custom"
;

.js-academy-box {
	font-family: 'Courier New', Courier, monospace;
	border: 1px solid rgba(0,0,0,0.23);
	padding: 20px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background: rgba(0,0,0,0.05);
	margin-bottom: 1.75em;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.1em;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}