---
layout: default
post_class: post-template page-template
---

<nav class="main-nav clearfix">
    <a class="back-button icon-arrow-left" href="{{ site.baseurl }}">Home</a>
    <!--<a class="subscribe-button icon-feed" href="{{ site.baseurl }}rss.xml">Subscribe</a>-->
</nav>

<footer class="post-footer" style="margin: 0">
    {% if site.author %}
    <figure class="author-image">
        <a class="img" href="{{ site.baseurl }}" style="background-image: url(/assets/images/profile.jpg)">
            <span class="hidden">{{site.author}}'s Picture</span></a>
    </figure>
    {% endif %}
</footer>

<main class="content" role="main">
    <article class="post">
        <!--<header class="post-header">-->
            <!--<a id="blog-logo" href="{{site.baseurl}}">-->
                <!--{% if site.logo %}-->
                <!--<img src="{{site.logo}}" alt="{{ site.name }}"/>-->
                <!--{% else %}-->
                <!--<span class="blog-title">{{ site.name }}</span>-->
                <!--{%endif%}-->
            <!--</a>-->
        <!--</header>-->

        <h1 class="post-title">{{ page.title }}</h1>

        <section class="post-content" style="margin-top: 30px">
            {{content}}
        </section>

    </article>

    {% include social.html %}

</main>
